<div class="modal-backdrop" *ngIf="isOpen">
  <div class="modal-content">
    <h3>{{ 'screening.title' | translate }}</h3>
    <!--
        <form (submit)="$event.preventDefault(); onScreeningClick()">
          <label>Nombre a evaluar</label>
          <input [formControl]="nameControl" placeholder="Ej: John Doe" />
          <button type="submit" [disabled]="loadingRiskSignal()">Buscar</button>-->
    <button type="button" class="close-btn" (click)="closeModal()">{{ 'screening.close' | translate }}</button>


    <div *ngIf="loadingRiskSignal()">{{ 'screening.searching' | translate }}</div>
    <div *ngIf="errorRiskSignal() as e" class="error">{{ e }}</div>
    <p>
      {{ 'screening.matchesFound' | translate }}
      <strong>{{ totalCountSignal() }}</strong>
    </p>

    <button mat-raised-button color="primary" (click)="router.navigate(['suppliers', route.snapshot.paramMap.get('name'), 'screening', 'list'])">{{ 'screening.viewList' | translate }}</button>
  </div>
</div>
