<div class="container-with-spacing">
<h1>{{ 'suppliers.title' | translate }}</h1>

@if (store.loading()) {
  <mat-spinner diameter="40"></mat-spinner>
}
@if (store.error()) {
  <mat-error>{{ store.error() }}</mat-error>
}
<table mat-table [dataSource]="sortedSuppliers" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> {{ 'suppliers.id' | translate }} </th>
    <td mat-cell *matCellDef="let supplier"> {{ supplier.id }} </td>
  </ng-container>

  <!-- LEGAL NAME Column -->
  <ng-container matColumnDef="legalName">
    <th mat-header-cell *matHeaderCellDef> {{ 'suppliers.legalName' | translate }} </th>
    <td mat-cell *matCellDef="let supplier"> {{ supplier.legalName }} </td>
  </ng-container>

  <!-- BRAND NAME Column -->
  <ng-container matColumnDef="brandName">
    <th mat-header-cell *matHeaderCellDef> {{ 'suppliers.brandName' | translate }} </th>
    <td mat-cell *matCellDef="let supplier"> {{ supplier.brandName }} </td>
  </ng-container>

  <!-- TAX ID Column -->
  <ng-container matColumnDef="taxId">
    <th mat-header-cell *matHeaderCellDef> {{ 'suppliers.taxId' | translate }} </th>
    <td mat-cell *matCellDef="let supplier"> {{ supplier.taxId }} </td>
  </ng-container>

  <!-- PHONE NUMBER Column -->
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef> {{ 'suppliers.phoneNumber' | translate }} </th>
    <td mat-cell *matCellDef="let supplier"> {{ supplier.phoneNumber }} </td>
  </ng-container>

  <!-- EMAIL Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> {{ 'suppliers.email' | translate }} </th>
    <td mat-cell *matCellDef="let supplier"> {{ supplier.email }} </td>
  </ng-container>

  <ng-container matColumnDef="web">
    <th mat-header-cell *matHeaderCellDef> {{ 'suppliers.web' | translate }} </th>
    <td mat-cell *matCellDef="let supplier">
      <a [href]="supplier.web" target="_blank" mat-button>Visit Website</a>
    </td>
  </ng-container>

  <!-- ADDRESS Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> {{ 'suppliers.address' | translate }} </th>
    <td mat-cell *matCellDef="let supplier"> {{ supplier.address }} </td>
  </ng-container>

  <!-- COUNTRY Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> {{ 'suppliers.country' | translate }} </th>
    <td mat-cell *matCellDef="let supplier"> {{ supplier.country }} </td>
  </ng-container>

  <!-- ANNUAL REVENUE USD Column -->
  <ng-container matColumnDef="annualRevenueUsd">
    <th mat-header-cell *matHeaderCellDef> {{ 'suppliers.annualRevenueUSD' | translate }} </th>
    <td mat-cell *matCellDef="let supplier"> {{ supplier.annualRevenueUsd }} </td>
  </ng-container>

  <ng-container matColumnDef="lastUpdate">
    <th mat-header-cell *matHeaderCellDef> {{ 'suppliers.last-update' | translate }} </th>
    <td mat-cell *matCellDef="let supplier"> {{ supplier.lastUpdate | date:'short' : 'UTC'}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> {{ 'suppliers.actions' | translate }} </th>
    <td mat-cell *matCellDef="let supplier">
      <button mat-button (click)="editSupplier(supplier.id)">{{ 'form.edit' | translate }}</button>
      <button mat-button (click)="deleteSupplier(supplier.id)">{{ 'form.delete' | translate }}</button>
      <button mat-button (click)="screenSupplier(supplier.legalName)">{{ 'form.screening' | translate }}</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button color="primary" (click)="router.navigate(['suppliers/new'])">{{ 'form.add' | translate }} {{'suppliers.supplier' | translate}}</button>
</div>
